<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #signUp="ngForm" (ngSubmit)="onSignUp(signUp)">
            <div ngModelGroup="userInfo" #userInfo="ngModelGroup">
            <div class="form-group">
              <label for="username">Username*</label>
              <input name="username" required ngModel #username="ngModel" type="text" pattern="[a-zA-Z]+" class="form-control" id="username">
              <ng-container *ngIf="username.invalid">
                <span class="text-danger" *ngIf="username.touched && username.invalid && username.hasError('required')">
                  Username is a required field
                </span>
                <span class="text-danger" *ngIf="username.touched && username.invalid && username.hasError('pattern')">
                  Username should not includes nums and special characters
                </span>
              </ng-container>
            </div>
            <div class="form-group">
              <label for="email">Email*</label>
              <!-- pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" -->
              <input required ngModel 
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              #email="ngModel" name="email" type="text" class="form-control" id="email">
              <span class="text-danger" *ngIf="email.invalid && email.touched && email.hasError('required')">
                Email is required field
              </span>
              <span class="text-danger" *ngIf="email.invalid && email.dirty && email.hasError('pattern')">
                Invalid Email Id
              </span>
            </div>
          </div>
            <p class="alert alert-danger"
            *ngIf="userInfo.invalid && userInfo.touched">
              UserInfo Error
            </p>
            <div class="form-group">
              <label for="secretQuestion">Secret Question</label>
              <select required ngModel #secretQuestion="ngModel" class="form-control" name="secretQuestion" id="secretQuestion">
                <option value="favourateColor">Favourate Colour</option>
                <option value="favourateSport">Favourate Sport</option>
              </select>
            </div>
            <div class="form-group">
              <label for="answer">Answer</label>
              <input ngModel #answer="ngModel" id="answer" name="answer" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="isSubscribed">
                <input id="isSubscribed" ngModel #isSubscribed="ngModel" name="isSubscribed" type="checkbox">
                Subscribe for daily emails
              </label>
            </div>
            <div class="form-group" *ngFor="let moc of mocArr">
              <label for="moc.contactMode">
                <input required type="radio" ngModel[value]="moc.contactMode" 
                name="modeofcontact" [id]="moc.contactMode"> 
                {{moc.contactMode}}
              </label>
            </div>
            <div class="form-group">
              <label for="moc-phone">
                <input required type="radio" ngModel value="phone" 
                name="modeofcontact" id="moc-phone">
                phone
              </label>
            </div>
            <div class="text-right">
              <!-- <button type="submit" [disabled]="signUp.invalid" class="btn btn-primary">Sign Up</button> -->
            <button type="submit" class="btn btn-primary ar-3">Sign Up</button>
            <button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button>
            </div>
          </form>

          valid{{signUp.valid}}<br>
          invalid{{signUp.invalid}}<br>
          value{{signUp.value | json}}
        </div>
      </div>

    </div>
  </div>
</div>

<!-- export class CustomRegex {
  static password = ^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$;
  static onlyText = '[a-zA-Z]*';
  static username = '^[a-zA-Z ]*$';
  static email = '^[a-zA-Z0-9.-]+@[a-zA-Z0-9-.]+\\.[a-zA-Z]{2,100}$';
  static updateEmail =
   '/^(([^<>()[]\\.,;:s@"]+(.[^<>()[]\\.,;:s@"]+)*)|(".+"))@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}])|(([a-zA-Z-0-9]+.)+[a-zA-Z]{2,9}))$/';
} -->